body {
    background-image: linear-gradient(to left bottom, #5c2269, #5a1e6c, #571a6f, #531672, #4f1275, #4b0f78, #460b7a, #41087d, #390581, #2f0484, #210388, #03038c);
    background-repeat: no-repeat;
    height: 100vh;
 }

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

